/*  imported from Tab.css  */

.Tab-tab {
  display: inline-block;
}

.Tab-tabFixed {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Tab-button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Tab-label {
  padding: 15px 16px;
}

.Tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff4081;
  margin-top: -2px;
}
