/*  imported from BottomNavigation.css  */

.BottomNavigation-root {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 100%;
}
